@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');

:root {
    --color-bg-primary: #000000;
    --color-text-primary: #46fb73;
    --color-text-glow: rgba(70, 251, 115, 0.4);
    --color-text-glow-highlight: rgba(70, 251, 115, 1);
    --color-canvas-bg: #0b0b0b;

    --color-canvas-test: #3fdb66;
}

@keyframes score-bump {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.3); }
  100% { transform: scale(1); }
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    overflow: hidden;

    background-color: var(--color-bg-primary);
    font-family: "Bitcount";
    text-shadow: 0 0 4px var(--color-text-glow);

    display: flex;
    align-items: center;
    justify-content: center;
}

#page-wrapper {
    height: 100%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;
}

#game-window {
    position: relative;

    min-height: 600px;
    width: 600px;

    color: var(--color-text-primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

#settings-window {
    min-height: 400px;
    width: 500px;

    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%) translate(5rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

#credits-window {
    position: relative;

    min-height: 600px;
    width: 80%;

    color: var(--color-text-primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.game-title {
    width: 100%;
    height: 4rem;

    font-size: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#score-holder {
    width: 100%;
    height: 1.4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;

    gap: 2rem;
}

.highlight {
    background-color: var(--color-text-primary);
    color: var(--color-bg-primary);

    border-radius: 10px;
    padding: 4px;
}

.bump {
  animation: score-bump 0.15s ease;
}

#game-canvas-holder {
    position: relative;
}

#game-canvas-overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

#overlay-title {
    width: 100%;
    height: 3rem;

    text-align: center;

    font-size: 2.4rem;
}

#overlay-subtitle {
    width: 100%;
    height: 2rem;

    text-align: center;

    font-size: 1.6rem;
}

#game-canvas {
    height: 100%;
    width: 100%;

    background-color: var(--color-canvas-bg);
    border: 1px solid var(--color-text-primary);
}


/* SETTINGS STUFF */
#settings-window {
    color: var(--color-text-primary);
}

.btn {
    all: unset;

    width: 100%;
    height: 2rem;

    background-color: var(--color-text-primary);
    color: var(--color-bg-primary);

    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    font-size: 1.4rem;
}

.btn:hover {
    cursor: pointer;

    box-shadow: 0 0 20px var(--color-text-glow-highlight);
}

.no-bg {
    background-color: transparent;
    color: var(--color-text-primary);
}

.no-bg:hover {
    text-shadow: 0 0 20px var(--color-text-glow-highlight);
    box-shadow: none;
}

#settings-list {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 1rem;
}

.settings-title {
    height: 3rem;
    width: 100%;

    text-align: center;

    font-size: 2.4rem;
}

.settings-subtitle {
    height: 2rem;
    width: 100%;
    font-size: 1.8rem;

    text-align: left;
}

.settings-entry {
    width: 100%;
    height: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-entry-title {
    font-size: 1.4rem;
}

.settings-btn-multiple-choice {
    height: 100%;

    border: 2px solid var(--color-text-primary);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.settings-btn-multiple-choice-btn {
    all: unset;

    height: 100%;

    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 5px;
    padding-right: 5px;
}

.settings-btn-multiple-choice-btn:hover {
    cursor: pointer;
    text-shadow: 0 0 20px var(--color-text-glow-highlight);
}

.settings-hl {
    background-color: var(--color-text-primary);
    color: var(--color-bg-primary);
}

.settings-hl:hover {
    text-shadow: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#settings-lock {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1.8rem;

    z-index: 150;
}

.buttons-holder {
    height: 2rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

.img-holder {
    height: 100%;
    width: auto;

    position: relative;
}

.img-holder img {
    height: 100%;
    width: 100%;
}

.img-holder:hover {
    cursor: pointer;
}

.x-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    pointer-events: none;

    background-color: rgba(0, 0, 0, 0.6);
}

.credit-entry {
    width: 100%;
    text-align: left;
}